;;Remove bad axis spawn point
remove:
{
   "hammerid" "112969"
}

;; 
modify:
{
	match:
	{	
		"hammerid" "38"
		"classname" "dod_control_point_master"
	}
	insert:
	{
	    "cpm_timer_length" "900"
	    "cpm_use_timer" "1"
	}		
}


;;EXAMPLE - add the hostage to the map
;add:
;{
;   "origin" "1376 3168 -112"
;   "HostageType" "0"
;   "classname" "hostage_entity"
; }

;;EXAMPLE - replace all garbage cans with a hostage
;modify:
;{
;	match:
;	{	
;	    "model" "models/props_junk/garbage_metalcan002a.mdl"
;	    "classname" "prop_physics_multiplayer"
;	}
;	replace:
;	{
;	    "classname" "hostage_entity"
;	}
;	delete:
;	{
;	    "model" "models/props_junk/garbage_metalcan002a.mdl"
;	}
;	insert:
;	{
;	    "scale" "0.99"
;	}
;}
